body{
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
}

nav {
    background-color: var(--color-dark);
    padding: 10px 10px;
}

.logo {
    text-decoration: none;
}

.logo img{
    width: 4rem;
    max-width: 40px;
    border-radius: 100%;
}

#nav-main {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--color-dark);
    height: 100vh;
    overflow-y: scroll;
    transition-property: left;
    transition-duration: 0.3s;
    padding: 10px;
}

#nav-main::-webkit-scrollbar {
    width: 15px;
    background: var(--color-dark);
}

#nav-main::-webkit-scrollbar-track {
    background: var(--color-dark);
    border-radius: 10px;
}

#nav-main::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--color-primary), var(--color-dark));
}

#closeNav {
    color: var(--color-primary);
    width: 20px;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-left: 15px;
}

#nav-main ul{
    margin-top: var(--five);
}

#nav-main ul li {
    list-style-type: none;
    display: block;
}

#nav-main ul li a {
    text-decoration: none;
    padding: 10px 15px;
}

#nav-main ul li a:hover {
    color: var(--color-dark);
    background: linear-gradient(var(--color-primary), var(--color-dark));
}


#nav-main ul li a svg {
    width: 25px;
    margin-right: 5px;
}

#burger {
    background-color: var(--color-primary);
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
}

#burger span {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 2px;
    margin: 4px 0px;
    background-color: var(--color-dark);
}