*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

*::selection{
    background-color: #009662;
    color: rgb(123, 255, 123);
}


/*All css variables*/
body{
    --font-normal: 'PT Sans', sans-serif;
    --font-heading: 'Josefin Sans', sans-serif;
    --font-different: 'Pacifico', cursive;
    --color-light: white;
    --color-dark: rgb(1, 26, 54);
    --color-body-bg: rgb(255, 255, 255);
    --color-primary: rgb(133, 45, 222);
    --color-secondary: rgb(241, 84, 84);
}

/*Default properties for some tags*/
body{
    background-color: var(--color-body-bg);
}

p,
span,
li,
a,
label,
input{
    font-family: var(--font-normal);
    font-weight: 500;
}

p{
    color: rgb(243, 243, 82);
}

h1,
h2,
h3,
h4{
    font-family: var(--font-heading);
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.3rem;
}

input, textarea{
    padding: 5px 10px;
}

.cursor-pointer{
    cursor: pointer;
}

.text-heading{
    color: var(--color-secondary);
}


/*Flex box*/
.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: end;
}

.flex-wrap{
    flex-wrap: wrap;
}


/*Text and font*/
.text-center{
    text-align: center;
}

.text-light{
    color: var(--color-light);
}

.font-heading{
    font-family: var(--font-heading);
}

.font-different{
    font-family: var(--font-different);
}

.font-bold{
    font-weight: bolder;
}

.font-md{
    font-size: 1.3rem;
}

.font-xmd{
    font-size: 1.5rem;
}


/* Shadows */
.text-shadow-dark{
    text-shadow: 7px 7px 5px var(--color-dark);
}


/* Buttons */
.btn-primary{
    color: var(--color-light);
    background-color: var(--color-primary);
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
    border: none;
    transition-property: all;
    transition-duration: 0.3s;
    border: 2px solid var(--color-primary);
}

.btn-primary:hover{
    background-color: var(--color-light);
    color: var(--color-primary);
}

.btn-secondary{
    color: var(--color-light);
    background-color: var(--color-secondary);
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
    border: none;
    transition-property: all;
    transition-duration: 0.3s;
    border: 2px solid var(--color-secondary);
}

.btn-secondary:hover{
    background-color: var(--color-light);
    color: var(--color-secondary);
}


/* sections */
.container{
    padding: 20px 20px;
    margin: 4rem auto;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    width: 80%;
    background-color: var(--color-dark);
    box-shadow: 5px 5px 23px black;
}


/* Gap */
.gap-top{
    margin-top: 20px;
}

.gap-bottom{
    margin-bottom: 20px;
}

.gap-y{
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Responcive */
@media screen and (max-width: 765px) {
    html{
        font-size: 15px;
    }
}

@media screen and (max-width: 519px) {
    html{
        font-size: 13px;
    }

    .container{
        width: 95%;
    }
}

@media screen and (max-width: 340px) {
    html{
        font-size: 11px;
    }
}